@use '../variables';

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: variables.$primary;
  margin-bottom: 2rem;
  font-weight: 700;
}

.search-input {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: 2px solid variables.$primary;
  border-radius: 8px;
  background-color: #fafafa;
  outline: none;
  transition: border-color 0.3s ease;
}

.container > *:not(.pokemon-list) {
  margin-left: calc(20% + 3rem);
}

.search-input:focus {
  border-color: variables.$primary-light;
}

.lights {
  position: absolute;
  left: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  outline: rgb(211, 211, 211) 0.4rem solid;
  border: rgba(0,0,0, 0.3) 2px solid;
  background-color: #6ae9de;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 1rem;
    height: 1rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #a1faf3;
    right: 2.5rem;
  }
  > * {
    position: absolute;
    top: 1rem;
    right: -3.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #ceab38;
  }
  >:first-child {
    right: -2rem;
    background-color: red;
  }
  >:last-child {
    right: -5rem;
    background-color: variables.$primary;
  }
}

.pokemon-list {
  border-right: variables.$primary solid 2px;
  overflow: hidden scroll;
  list-style-type: none;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  bottom: 1.5rem;
  width: 20%;
  padding-inline: 0 1.5rem;
  li {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    border-bottom: rgba(0, 0, 0, 0.1) solid 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:first-of-type {
      border-top: rgba(0, 0, 0, 0.1) solid 2px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background-color: variables.$body;
    }
  }
}

.pokemon-list div:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.load-more-btn {
  display: block;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  background-color: variables.$primary;
  color: variables.$background;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  &:hover {
    background-color: variables.$primary-dark;
  }
  &:disabled {
    background-color: rgba($color: variables.$primary, $alpha: 0.3);
    cursor: not-allowed;
  }
}

.isLoading {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 4rem;
  }

  .container > *:not(.pokemon-list) {
    margin-left: initial;
  }

  .pokemon-list {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    overflow: scroll hidden;
    border-right: none;
    li {
      border: none !important;
      border-radius: 25px;
      margin-right: 0.5rem;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      color: variables.$background;
      font-weight: 700;
      width: max-content;
      height: min-content;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      background-color: variables.$primary-light;
      &::before {
        display: none;
      }
    }
  }

  .search-input {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .load-more-btn {
    font-size: 1rem;
    padding: 0.5rem;
  }
}